@import "../../scss/config";
.header {
  height: 3rem;
  width: 100vw;
  background: $mainColor;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  justify-content: space-between;
  box-shadow: 0 1px 8px 2px rgb(88, 88, 88);
  .btnBar {
    display: none;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    margin-right: 1rem;
  }
  .navCenter {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5rem 0 0 5rem;
    height: 100%;
    width: 50%;
    background: #fff;
    .form {
      position: absolute;
      left: -62%;
      top: 0.5rem;
      width: 65%;
      .iconSearch {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        color: $mainColor;
      }
      .input {
        width: 100%;
        border: none;
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px 1px rgb(122, 122, 122);
      }
    }
    .navBar {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .itemNav,
      button {
        position: relative;
        border: none;
        background-color: transparent;
        text-decoration: none;
        color: #000;
        cursor: pointer;
        vertical-align: middle;
        display: flex;
        align-items: center;
        font-size: 1rem;
        padding: 1rem 0;
        transition: $mainTransition;
        &:hover {
          color: $secondaryColor;
          transform: scale(1.1);
          .accountDetails {
            transform: translateY(0%);
            visibility: visible;
            opacity: 1;
          }
        }
        .icon {
          margin: 0 0.5rem;
        }
        .accountDetails {
          position: absolute;
          top: 3rem;
          right: 0rem;
          width: 10rem;
          z-index: 2;
          background: #fff;
          border-radius: 0.5rem;
          box-shadow: 0 0 5px 1px #bbb;
          transform: translateY(50%);
          visibility: hidden;
          opacity: 0;
          transition: $mainTransition;
          button {
            padding: 0.5rem 1rem;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
            transition: $mainTransition;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              color: $mainColor;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-left: 1rem;
    .navCenter {
      width: 55%;
      .form {
        left: -57%;
        width: 60%;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .header {
    padding-left: 1rem;

    .btnBar {
      display: block;
    }
    .navCenter {
      position: absolute;
      top: 3rem;
      right: 0;
      z-index: 15;
      width: 20rem;
      height: 90vh;
      flex-direction: column;
      padding: 3rem;
      transform: translateX(100%);
      visibility: hidden;
      opacity: 0;
      transition: $mainTransition;
      box-shadow: 0 0 8px 2px #bbb;
      &.show {
        transform: translateX(0%);
        visibility: visible;
        opacity: 1;
      }
      .form {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        margin-bottom: 1rem;
      }
      .navBar {
        flex-direction: column;
        justify-content: center;
        .accountDetails {
          left: 0;
          right: unset;
        }
      }
    }
  }
}
