@import "~scss/config";
.content_form {
  margin-left: 2rem;
  .btn_url {
    border: none;
    background: $mainGreen;
    color: #fff;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
  }
  .areaLabel {
    width: 100%;
    margin: 0.5rem 0;
    textarea {
      width: 100% !important;
      min-height: 7rem;
      border: 1px solid #bbb;
      border-radius: 0.3rem;
      padding: 0.5rem;
      resize: vertical;
      &:focus-within {
        border: 1px solid $darkBlue;
        box-shadow: 0 0 1px 1px $darkBlue;
      }
    }
  }
}
