$mainColor: #e62e2e;
$secondaryColor: #fd8412;
$mainBlue: #a5e6ff;
$darkBlue: #2980b9;
$mainGreen: #27ae60;
$mainTransition: all 0.3s ease-in-out;

@mixin screen($breakpoint, $size: 1200px) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 368px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == custom {
    @media only screen and (max-width: $size) {
      @content;
    }
  }
  @if $breakpoint == custom-large {
    @media only screen and (min-width: $size) {
      @content;
    }
  }
}
