@import "../../scss/config";
.favorites {
  width: 90%;
  margin: 1rem auto;
  &__wrapper {
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 0.3rem;
    padding: 2rem;
    &_header {
      border-bottom: 2px solid $mainColor;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
    }
  }
}
