@import "~scss/config";
.returnVnPay {
  width: 90%;
  margin: 1rem auto;
  @include screen(phone) {
    width: 99%;
  }
  .alertVnPay {
    width: 80%;
    margin: 1rem auto;
    display: grid;
    place-items: center;
    background-color: #fff;
    border-radius: 1rem;
    padding: 3rem 0;
    @include screen(phone) {
      width: 95%;
    }
    .alert {
      margin: 2rem auto;
      width: 80%;
      display: grid;
      place-items: center;
      @include screen(phone) {
        width: 100%;
      }
      &__success {
        width: 80%;
        height: 100%;
        background: #ebf7ee;
        color: #3ebd61;
        border-radius: 1rem;
        padding: 3rem 1rem;
        display: grid;
        place-items: center;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        .icon {
          color: #3ebd61;
          font-size: 3rem;
        }
      }
      &__error {
        @extend .alert__success;
        color: rgb(197, 86, 66);
        background: rgb(250, 239, 236);
        .icon {
          color: rgb(197, 86, 66);
          font-size: 3rem;
        }
      }
    }
    .backCart {
      color: #fff;
      background: $mainColor;
      border: 1px solid $mainColor;
      font-size: 1.1rem;
      padding: 0.3rem 1rem;
      margin-bottom: 0.5rem;
      border-radius: 0.3rem;
      cursor: pointer;
      &:hover {
        background: rgba($mainColor, 0.8);
      }
    }
  }
}
