@import "~scss/config";
.dashboard {
  padding: 2rem;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $mainBlue;
    .box_item {
      display: flex;
      align-items: center;
      background-color: #fff;
      padding: 1rem 0.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 3px 1px #fff;
      .icon {
        color: $darkBlue;
      }
      &__info {
        height: 100%;
        margin-left: 0.5rem;
        border-left: 1px solid #bbb;
        padding-left: 0.5rem;
        color: $mainBlue;
      }
    }
  }
  .charts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
    &__container {
      width: 45%;
      // .title_chart {
      //   text-align: center;
      //   margin: 1rem 0;
      //   color: $darkBlue;
      //   font-size: 1.2rem;
      // }
    }
  }
}
