@import "../../../scss/config";
.button {
  position: relative;
  width: 9rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid $mainColor;
  background: #fff;
  color: $mainColor;
  text-transform: uppercase;
  font-weight: bold;
  transition: $mainTransition;
  overflow: hidden;
  cursor: pointer;
  margin: 0.5rem;
  display: block;
  &::before {
    content: (attr(data-hover));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    opacity: 0.7;
    place-items: center;
    background: $mainColor;
    color: #fff;
    border-radius: 70%;
    clip-path: polygon(0% 0%, 100% 50%, 0 100%);
    transition: $mainTransition;
    transform: translateX(-100%);
  }
  &:active {
    &::before {
      background: #fff;
      border: 1px solid $mainColor;
      color: $mainColor;
    }
  }
  &:hover {
    color: #fff;
    box-shadow: 0 0 5px 1px $mainColor;
    border: 1px solid #fff;
    &::before {
      border-radius: 0%;
      clip-path: unset;
      transform: translateX(0%);
      opacity: 1;
    }
  }
}
