@import "../../../scss/config";
.product {
  height: 21rem;
  max-width: 16rem;
  margin: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  transition: $mainTransition;
  border: 1px solid #ccc;
  &:hover {
    border: 1px solid $mainColor;
    .imgCenter {
      img {
        transform: scale(1.2);
      }
      .iconHeart {
        visibility: visible;
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
  .imgCenter {
    position: relative;
    height: 80%;
    margin-bottom: 0.5rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $mainTransition;
    }
    .iconHeart {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      background: rgb(105, 105, 105);
      border-radius: 50%;
      display: grid;
      place-items: center;
      border: none;
      color: #fff;
      visibility: hidden;
      transform: translateX(100%);
      opacity: 0;
      transition: $mainTransition;
      &.active {
        background-color: $mainColor;
        &:hover {
          background: #fff;
          color: $mainColor;
          border: 1px solid $mainColor;
        }
      }
      &.unActive {
        color: #fff;
      }
      &:hover {
        background: rgb(224, 33, 33);
      }
    }
    .iconCart {
      @extend .iconHeart;
      top: 3.5rem !important;
    }
    .iconFind {
      @extend .iconHeart;
      top: 6rem !important;
    }
  }
  .details {
    .title {
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        color: #555;
        text-decoration: none;

        &:hover {
          color: $mainColor;
          text-decoration: underline;
        }
      }
    }
    .detailsBottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        color: $mainColor;
        .textUpper {
          color: rgb(24, 182, 24);
        }
      }
      .detailsBottomRight {
        .fav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #777;
          font-size: 0.8rem;
        }
        .sold {
          color: #777;
          font-size: 0.8rem;
          vertical-align: sub;
        }
      }
    }
  }
}
